/* ===== Background Image ===== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
 }       

/* ===== Header Panel ===== */

.header {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    background: #176d85;
    backdrop-filter: blur(8px);
    color: white;
    position: relative;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 40px;
   
}

/* ===== LOGO ===== */
.logo {
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
   
}

.logo img {
    height: 45px;
    margin-right: 10px;
}

.h {
	margin-left: 100px;
}



/* ===== NAVIGATION ===== */
.nav a {
    margin: 0px 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

/* Hover Effect */
.nav a:hover {
    background: #2193b0;
}

/* ===== LOGOUT BUTTON ===== */
.logout {
    padding: 8px 18px;
    margin-left: 150px;
    background: #ff4d4d;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: 0.3s;
}

.logout:hover {
    background: #cc0000;
    transform: scale(1.05);
}

/* ===== MOBILE RESPONSIVE ===== */
@media (max-width: 768px) {

    .header-container {
        flex-direction: column;
        gap: 10px;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav a {
        margin: 5px;
    }
}



  /* Welcome Box */
.welcome-box {
    background: rgba(255,255,255,0.9);
    padding: 25px;
    margin: 300px 820px;
    width: 30%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.calendar-box {
    background: white;
    width: 200px;
    margin: -800px 20px;
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0,0,0,0.3);
}

#todayDate {
    font-weight: bold;
    color: #176d85;
}

#liveClock {
    font-size: 22px;
    font-weight: bold;
    color: #2193b0;
}

 .rooms-section {
    margin-top: 1150px;
    margin-left: 10px;
    text-align: center;
    color: white;
    
    
}

.rooms-section h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 4px #000;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    float:left;
    padding: 15px;
    justify-content: center;
    
}


.room-card {
    background: rgba(255,255,255,0.9);
    border-radius: 12px;
    width: 220px;
    padding: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    float: left;
    
}

.room-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.room-card h3 {
    color: #176d85;
    margin-bottom: 5px;
}

.room-card p {
    color: #2193b0;
    margin: 5px 0;
}

.room-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.5);
    cursor: pointer;
}
    
/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #176d85;
    color: white;
    margin-top: auto;
}

.footer a {
    color: #6dd5ed;
    text-decoration: none;
}
